body{background-color: brown; }


h1{text-align: center; color: pink;}

li{color: white;}


p{color: yellow;}

h2{text-align: left; color: yellow;}

img{border-radius: 50%; width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto;}

